**Pandas**

*Creating a Data*

In [2]:
# pandas kütüphanesini import edelim

import pandas as pd

In [ ]:
# Kendi verilerimizle dataframe oluşturma

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
# sütun isimlendirme , columns = ["","",""]

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]] , columns = ["A", "B", "C"])

df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
# sütunların isimlerini görme

df.columns

Index(['A', 'B', 'C'], dtype='object')

In [7]:
# index isimlendirme , index = ["","",""]

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]] , columns = ["A", "B", "C"], index = ["x","y","z"])

df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [8]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [ ]:
df.info # info fonksiyonu df DataFrame'i ile çalışır
        # bu durum hakkında bilgi verir

<bound method DataFrame.info of    A  B  C
x  1  2  3
y  4  5  6
z  7  8  9>

In [ ]:
df.info() # info fonksiyonunu direkt çalıştırır

# non-null count -> boş olmayan değerlerin sayısı

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes

In [ ]:
df.describe()

# temel istatistik
# sayısı
# ortalaması
# standart sapması
# minimumu
# yüzdelik değerleri
# maksimum

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [ ]:
# sütunlardaki farklı değerlerin sayısı

df.nunique()

A    3
B    3
C    3
dtype: int64

In [13]:
# sütunlardaki farklı tüm değerleri gösterir

df["A"].unique()

array([1, 4, 7])

In [ ]:
# dataframe boyutu

df.shape

(3, 3)

In [ ]:
df.shape()

# shape özellik çağırdığından metod değildir

TypeError: 'tuple' object is not callable

In [ ]:
df.size # 3x3 tipinde tablo 9 elemana sahip

9

*Data Reading*

In [3]:
coffee = pd.read_csv("D:\\Kütüphane\\Python\\Datasets\\coffee.csv")

In [23]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [4]:
results = pd.read_parquet("D:\\Kütüphane\\Python\\Datasets\\results.parquet")

In [27]:
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None

In [5]:
olympics = pd.read_excel("D:\\Kütüphane\\Python\\Datasets\\olympics-data.xlsx")

In [28]:
olympics.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [ ]:
# hız : parquet > csv > xlsx
# aynı verinin boyutları : 20mb < 200mb < büyük

In [6]:
bios = pd.read_csv("D:\\Kütüphane\\Python\\Datasets\\bios.csv")

In [ ]:
# dosya tipi dönüştürme

bios.to_excel
bios.to_parquet

In [32]:
print(bios.head()) # 5
print(bios.head(2)) # 2
print(bios.tail()) # 5
print(bios.tail(2)) # 2

   athlete_id                   name   born_date    born_city  \
0           1  Jean-François Blanchy  1886-12-12     Bordeaux
1           2         Arnaud Boetsch  1969-04-01       Meulan
2           3           Jean Borotra  1898-08-13     Biarritz
3           4        Jacques Brugnon  1895-05-11  Paris VIIIe
4           5           Albert Canet  1878-04-17   Wandsworth

            born_region born_country     NOC  height_cm  weight_kg   died_date
0               Gironde          FRA  France        NaN        NaN  1960-10-02
1              Yvelines          FRA  France      183.0       76.0         NaN
2  Pyrénées-Atlantiques          FRA  France      183.0       76.0  1994-07-17
3                 Paris          FRA  France      168.0       64.0  1978-03-20
4               England          GBR  France        NaN        NaN  1930-07-25
   athlete_id                   name   born_date born_city born_region  \
0           1  Jean-François Blanchy  1886-12-12  Bordeaux     Gironde
1           2         Arnaud Boetsch  1969-04-01    Meulan    Yvelines

  born_country     NOC  height_cm  weight_kg   died_date
0          FRA  France        NaN        NaN  1960-10-02
1          FRA  France      183.0       76.0         NaN
        athlete_id                 name   born_date        born_city  \
145495      149222    Polina Luchnikova  2002-01-30            Serov
145496      149223  Valeriya Merkusheva  1999-09-20  Moskva (Moscow)
145497      149224      Yuliya Smirnova  1998-05-08           Kotlas
145498      149225       André Foussard  1899-05-19            Niort
145499      149814        Bill Phillips  1913-07-15     Dulwich Hill

            born_region born_country        NOC  height_cm  weight_kg  \
145495       Sverdlovsk          RUS        ROC      167.0       61.0
145496           Moskva          RUS        ROC      168.0       65.0
145497      Arkhangelsk          RUS        ROC      163.0       55.0
145498      Deux-Sèvres          FRA     France      166.0        NaN
145499  New South Wales          AUS  Australia        NaN        NaN

         died_date
145495         NaN
145496         NaN
145497         NaN
145498  1986-03-18
145499  2003-10-20
        athlete_id            name   born_date     born_city      born_region  \
145498      149225  André Foussard  1899-05-19         Niort      Deux-Sèvres
145499      149814   Bill Phillips  1913-07-15  Dulwich Hill  New South Wales

       born_country        NOC  height_cm  weight_kg   died_date
145498          FRA     France      166.0        NaN  1986-03-18
145499          AUS  Australia        NaN        NaN  2003-10-20

In [34]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

*Data Access*

In [ ]:
coffee.loc[0] # 0. indeks

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [ ]:
coffee.loc[0][1] # 0. indeksin 1. özelliği (feature)

C:\Users\90534\AppData\Local\Temp\ipykernel_27664\2866999467.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  coffee.loc[0][1]

'Espresso'

In [ ]:
coffee.loc[[0,1,2]] # 0, 1 ve 2. indeksler

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30

In [ ]:
coffee.loc[[0,1,2],["Day","Coffee Type"]] # 0, 1 ve 2. indekslerin belli sütunları

       Day Coffee Type
0   Monday    Espresso
1   Monday       Latte
2  Tuesday    Espresso

In [ ]:
coffee.loc[1:10:2] # 1 'den 10 'a kadar 2 'şer atlayarak indeksleri göster

         Day Coffee Type  Units Sold
1     Monday       Latte          15
3    Tuesday       Latte          20
5  Wednesday       Latte          25
7   Thursday       Latte          30
9     Friday       Latte          35

In [49]:
coffee.loc[1:10:2, "Units Sold"]

1    15
3    20
5    25
7    30
9    35
Name: Units Sold, dtype: int64

In [ ]:
coffee.loc[:, "Units Sold"] # Hepsini seçer

0     25
1     15
2     30
3     20
4     35
5     25
6     40
7     30
8     45
9     35
10    45
11    35
12    45
13    35
Name: Units Sold, dtype: int64

In [ ]:
# spesifik bi veriye index metodu ile erişme

coffee.index = coffee["Day"]

In [ ]:
coffee.head() # indexler "Day" sütunu ile aynı hale gelir

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35

In [63]:
coffee.loc["Monday"]

           Day Coffee Type  Units Sold
Day
Monday  Monday    Espresso          25
Monday  Monday       Latte          15

In [64]:
coffee.loc["Wednesday"]

                 Day Coffee Type  Units Sold
Day
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25

In [ ]:
coffee.loc["Monday":"Wednesday","Units Sold"]  # monday ve wednesday 'i time verisi olarak değil alfabede önceliğe göre sıralandırdığı için 
                                               # monday ve wednesday aralığı arasındaki Units Sold değerlerini döndürdü

Day
Monday       25
Monday       15
Tuesday      30
Tuesday      20
Wednesday    35
Wednesday    25
Name: Units Sold, dtype: int64

In [70]:
coffee.loc[1:5]

         Day Coffee Type  Units Sold
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25

In [ ]:
coffee = coffee.reset_index(drop=True) # indexi normal hale resetler ve "Day" kolonunu indekslemeden droplar (yoksa bi tane daha day kolonu olacaktı)
                                       # ya da baştan df ataması yapılır

In [67]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [68]:
coffee.iloc[1]

Day            Monday
Coffee Type     Latte
Units Sold         15
Name: 1, dtype: object

In [ ]:
coffee.sort_values("Units Sold") # integerleri sıralar

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          30
7    Thursday       Latte          30
4   Wednesday    Espresso          35
9      Friday       Latte          35
13     Sunday       Latte          35
11   Saturday       Latte          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

In [ ]:
coffee.sort_values("Units Sold", ascending=False) # integerleri büyükten küçüğe sıralar

          Day Coffee Type  Units Sold
10   Saturday    Espresso          45
8      Friday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
11   Saturday       Latte          35
13     Sunday       Latte          35
9      Friday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [ ]:
for index, row in coffee.iterrows():   # iterrows() -> (index,row)
    print(index, row["Units Sold"])
    ("\n\n\n\n")                       # spesifik veriye iterrows metodu ile erişme

0 25
1 15
2 30
3 20
4 35
5 25
6 40
7 30
8 45
9 35
10 45
11 35
12 45
13 35

*Data Filtering*

In [83]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [84]:
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [86]:
bios[bios["height_cm"] > 180]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
16,17,Guy Forget,1965-01-04,Casablanca,Casablanca-Settat,MAR,France,189.0,79.0,NaN
25,26,Henri Leconte,1963-07-04,Lillers,Pas-de-Calais,FRA,France,184.0,78.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145465,149192,Stanislav Galiyev,1992-01-17,Moskva (Moscow),Moskva,RUS,ROC,188.0,82.0,NaN
145466,149193,Mikkel Aagaard,1995-10-18,Frederikshavn,Nordjylland,DEN,Denmark,184.0,81.0,NaN
145468,149195,Justin Abdelkader,1987-02-25,Muskegon,Michigan,USA,United States,187.0,97.0,NaN
145473,149200,Toms Andersons,1993-11-25,Rīga,Rīga,LAT,Latvia,185.0,86.0,NaN
145494,149221,George Wright,1890-07-21,Toronto,Ontario,CAN,Canada,183.0,NaN,1973-01-28

In [ ]:
bios.loc[bios["height_cm"] > 180 , ["name"]]  # belli filtrede olan indekslerin belli sütununu göstermesini istersem

                     name
1          Arnaud Boetsch
2            Jean Borotra
5       Nicolas Chatelain
16             Guy Forget
25          Henri Leconte
...                   ...
145465  Stanislav Galiyev
145466     Mikkel Aagaard
145468  Justin Abdelkader
145473     Toms Andersons
145494      George Wright

[35368 rows x 1 columns]

In [91]:
bios[(bios["height_cm"] > 200) & (bios["born_country"] == "USA")]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
5197,5216,Anne Donovan,1961-11-01,Ridgewood,New Jersey,USA,United States,203.0,62.0,2018-06-13
5652,5675,Mike Bantom,1951-12-03,Philadelphia,Pennsylvania,USA,United States,203.0,93.0,NaN
5657,5680,Jim Barnes,1941-04-13,Tuckerman,Arkansas,USA,United States,201.0,109.0,2002-09-14
5681,5704,Walt Bellamy,1937-07-24,New Bern,North Carolina,USA,United States,211.0,98.0,2013-11-02
5709,5732,Larry Bird,1956-12-07,French Lick,Indiana,USA,United States,205.0,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...
143706,147361,Bam Adebayo,1997-07-18,Newark,New Jersey,USA,United States,206.0,116.0,NaN
143707,147362,Jerami Grant,1994-03-12,Portland,Oregon,USA,United States,203.0,95.0,NaN
143710,147365,Khris Middleton,1991-08-12,Charleston,South Carolina,USA,United States,201.0,101.0,NaN
143712,147367,JaVale McGee,1988-01-19,Flint,Michigan,USA,United States,213.0,NaN,NaN
143733,147388,Nick Allen,1998-10-08,San Diego,California,USA,United States,203.0,NaN,NaN

In [92]:
bios[bios["born_country"] == "TR"]

Empty DataFrame
Columns: [athlete_id, name, born_date, born_city, born_region, born_country, NOC, height_cm, weight_kg, died_date]
Index: []

In [96]:
bios["born_country"].value_counts()

born_country
USA       9641
GER       6891
GBR       5792
FRA       5143
ITA       4709
          ...
SEY          1
SMT          1
COK          1
Corfu        1
Aarhus       1
Name: count, Length: 236, dtype: int64

In [11]:
bios[bios["height_cm"] < 215][["name"]]

                       name
1            Arnaud Boetsch
2              Jean Borotra
3           Jacques Brugnon
5         Nicolas Chatelain
6             Patrick Chila
...                     ...
145494        George Wright
145495    Polina Luchnikova
145496  Valeriya Merkusheva
145497      Yuliya Smirnova
145498       André Foussard

[106604 rows x 1 columns]

In [12]:
print(bios[bios["height_cm"] < 215][["name","height_cm"]])

                       name  height_cm
1            Arnaud Boetsch      183.0
2              Jean Borotra      183.0
3           Jacques Brugnon      168.0
5         Nicolas Chatelain      181.0
6             Patrick Chila      180.0
...                     ...        ...
145494        George Wright      183.0
145495    Polina Luchnikova      167.0
145496  Valeriya Merkusheva      168.0
145497      Yuliya Smirnova      163.0
145498       André Foussard      166.0

[106604 rows x 2 columns]

In [13]:
bios[bios["name"].str.contains("keith", case=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
3505,3517,Keith Wallace,1961-03-29,Preston,England,GBR,Great Britain,165.0,51.0,1999-12-31
6228,6255,Keith Hartley,1940-10-15,Vancouver,British Columbia,CAN,Canada,200.0,85.0,NaN
8898,8946,Keith Mwila,1966-01-01,NaN,NaN,NaN,Zambia,NaN,NaN,1993-01-09
12053,12118,Keith Hervey,1898-11-03,Fulham,England,GBR,Great Britain,NaN,NaN,1973-02-22
...,...,...,...,...,...,...,...,...,...,...
109900,111105,Keith Cumberpatch,1927-08-25,Christchurch,Canterbury,NZL,New Zealand,NaN,NaN,2013-11-15
115973,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN
117676,119195,Duncan Keith,1983-07-16,Winnipeg,Manitoba,CAN,Canada,185.0,88.0,NaN
122121,124176,Keith Ferguson,1979-09-07,Sale,Victoria,AUS,Australia,176.0,78.0,NaN
127310,129749,Tracy Keith-Matchitt,1990-03-30,Palmerston North,Manawatu-Wanganui,NZL,Cook Islands,167.0,60.0,NaN

In [14]:
bios[bios['name'].str.contains('keith|patrick', case=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
119,120,Patrick Wheatley,1899-01-20,Vryheid,KwaZulu-Natal,RSA,Great Britain,NaN,NaN,1967-11-05
319,320,Patrick De Koning,1961-04-23,Dendermonde,Oost-Vlaanderen,BEL,Belgium,178.0,92.0,NaN
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
2115,2125,Patrick Jopp,1962-01-08,NaN,NaN,NaN,Switzerland,176.0,67.0,NaN
...,...,...,...,...,...,...,...,...,...,...
143975,147633,Patrick Chinyemba,2001-01-03,NaN,NaN,NaN,Zambia,NaN,NaN,NaN
144172,147850,Patrick Jakob,1996-10-17,Sankt Johann in Tirol,Tirol,AUT,Austria,NaN,NaN,NaN
144547,148239,Patrick Galbraith,1986-03-11,Haderslev,Syddanmark,DEN,Denmark,NaN,NaN,NaN
144565,148257,Patrick Russell,1993-01-04,Gentofte,Hovedstaden,DEN,Denmark,186.0,93.0,NaN
145435,149158,Patrick Gasienica,1998-11-28,McHenry,Illinois,USA,United States,NaN,NaN,2023-06-12

In [16]:
bios[bios['name'].str.contains('keith|patrick| De ', case=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
9,10,Guy de la Chapelle,1868-07-16,Farges-Allichamps,Cher,FRA,France,NaN,NaN,1923-08-27
10,11,"Élie, Comte de Lastours",1874-08-12,Orgeval,Yvelines,FRA,France,NaN,NaN,1932-11-18
29,30,Édouard Mény de Marangue,1882-11-30,Paris VIe,Paris,FRA,France,NaN,NaN,1960-01-23
119,120,Patrick Wheatley,1899-01-20,Vryheid,KwaZulu-Natal,RSA,Great Britain,NaN,NaN,1967-11-05
...,...,...,...,...,...,...,...,...,...,...
144959,148668,Glenn de Blois,1995-09-05,Delft,Zuid-Holland,NED,Netherlands,NaN,NaN,NaN
144960,148669,Michelle de Jong,1999-07-06,Heerenveen,Friesland,NED,Netherlands,NaN,NaN,NaN
145278,148999,Almida de Val,1997-09-12,Angered,Västra Götaland,SWE,Sweden,NaN,NaN,NaN
145299,149021,Jacob de la Rose,1995-05-20,Arvika,Värmland,SWE,Sweden,NaN,NaN,NaN
145435,149158,Patrick Gasienica,1998-11-28,McHenry,Illinois,USA,United States,NaN,NaN,2023-06-12

In [ ]:
# Other cool regex filters

# Find athletes born in cities that start with a vowel:
vowel_cities = bios[bios['born_city'].str.contains(r'^[AEIOUaeiou]', na=False)]

# Find athletes with names that contain exactly two vowels:
two_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*$', na=False)]

# Find athletes with names that have repeated consecutive letters (e.g., "Aaron", "Emmett"):
repeated_letters = bios[bios['name'].str.contains(r'(.)\1', na=False)]

# Find athletes with names ending in 'son' or 'sen':
son_sen_names = bios[bios['name'].str.contains(r'son$|sen$', case=False, na=False)]

# Find athletes born in a year starting with '19':
born_19xx = bios[bios['born_date'].str.contains(r'^19', na=False)]

# Find athletes with names that do not contain any vowels:
no_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*$', na=False)]

# Find athletes whose names contain a hyphen or an apostrophe:
hyphen_apostrophe = bios[bios['name'].str.contains(r"[-']", na=False)]

# Find athletes with names that start and end with the same letter:
start_end_same = bios[bios['name'].str.contains(r'^(.).*\1$', na=False, case=False)]

# Find athletes with a born_city that has exactly 7 characters:
city_seven_chars = bios[bios['born_city'].str.contains(r'^.{7}$', na=False)]

# Find athletes with names containing three or more vowels:
three_or_more_vowels = bios[bios['name'].str.contains(r'([AEIOUaeiou].*){3,}', na=False)]

In [18]:
two_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*$', na=False)]

two_vowels

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
12,13,J. Defert,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN
30,31,André Prévost,1875-02-28,Paris VIIIe,Paris,FRA,France,NaN,NaN,1951-11-22
68,69,Sam Smith,1971-11-27,Epping,England,GBR,Great Britain,175.0,62.0,NaN
70,71,Ruth Winch,1870-08-25,Ryde,England,GBR,Great Britain,NaN,NaN,1952-01-09
73,74,Sky Andrew,1962-03-31,Newham,England,GBR,Great Britain,185.0,78.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145340,149062,A. J. Hurt,2000-12-05,Truckee,California,USA,United States,NaN,NaN,NaN
145349,149072,Kris Horn,1994-04-25,Weymouth,Massachusetts,USA,United States,NaN,NaN,NaN
145382,149105,Dylan Walczyk,1993-06-25,Rochester,New York,USA,United States,NaN,NaN,NaN
145452,149177,Radek Rýdl,2001-07-15,Jilemnice,Liberecký kraj,CZE,Czechia,NaN,NaN,NaN
145483,149210,Feng He,2004-03-31,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN

In [24]:
bios[bios['born_country'].isin(["USA", "FRA", "GBR"]) & (bios['name'].str.startswith("Keith"))]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
3505,3517,Keith Wallace,1961-03-29,Preston,England,GBR,Great Britain,165.0,51.0,1999-12-31
12053,12118,Keith Hervey,1898-11-03,Fulham,England,GBR,Great Britain,NaN,NaN,1973-02-22
14577,14674,Keith Harrison,1933-03-28,Birmingham,England,GBR,Great Britain,NaN,NaN,NaN
16166,16281,Keith Reynolds,1963-12-25,Solihull,England,GBR,Great Britain,173.0,68.0,NaN
18734,18862,Keith Sinclair,1945-06-26,Sunderland,England,GBR,Great Britain,190.0,79.0,NaN
29897,30123,Keith Langley,1961-06-03,Aldershot,England,GBR,Great Britain,173.0,70.0,NaN
34011,34275,Keith Remfry,1947-11-17,Ealing,England,GBR,Great Britain,193.0,114.0,2015-09-16
46885,47234,Keith Collin,1937-01-18,Marylebone,England,GBR,Great Britain,168.0,63.0,1991-03-06
50929,51288,Keith Carter,1924-08-30,Akron,Ohio,USA,United States,NaN,NaN,2013-05-03
51185,51544,Keith Russell,1948-01-15,Mesa,Arizona,USA,United States,188.0,73.0,NaN
52913,53288,Keith Erickson,1944-04-19,San Francisco,California,USA,United States,196.0,86.0,NaN
55317,55712,Keith Boxell,1958-05-06,Clapham,England,GBR,Great Britain,170.0,87.0,NaN
57818,58226,Keith Peache,1947-08-10,Lewisham,England,GBR,Great Britain,180.0,98.0,NaN
61748,62202,Keith Grogono,1912-11-04,Stratford,England,GBR,Great Britain,NaN,NaN,1999-03-22
62620,63086,Keith Musto,1936-01-12,Rochford,England,GBR,Great Britain,174.0,72.0,NaN
62678,63144,Keith Notary,1960-01-22,Merritt Island,Florida,USA,United States,170.0,66.0,NaN
68324,68841,Keith Angus,1943-04-05,Sheffield,England,GBR,Great Britain,170.0,59.0,NaN
68472,68989,Keith Cullen,1972-06-13,Ilford,England,GBR,Great Britain,177.0,61.0,NaN
68997,69514,Keith Stock,1957-03-18,Woolwich,England,GBR,Great Britain,176.0,73.0,NaN
77550,78141,Keith Brantly,1962-05-23,Scott Air Force Base,Illinois,USA,United States,180.0,64.0,NaN
84097,84766,Keith Christiansen,1944-07-14,International Falls,Minnesota,USA,United States,165.0,69.0,2018-11-05
94646,95413,Keith Meyer,1938-06-20,Geneva,Illinois,USA,United States,NaN,NaN,2010-07-25
95267,96037,Keith Oliver,1947-10-27,Liverpool,England,GBR,Great Britain,172.0,68.0,NaN
96452,97229,Keith Schellenberg,1929-03-13,Middlesbrough,England,GBR,Great Britain,NaN,NaN,2019-10-28
97499,98286,Keith Tkachuk,1972-03-28,Melrose,Massachusetts,USA,United States,188.0,102.0,NaN
98068,98860,Keith Wegeman,1929-08-28,Denver,Colorado,USA,United States,NaN,NaN,1974-08-22
99921,100722,Keith Carney,1970-02-03,Providence,Rhode Island,USA,United States,188.0,93.0,NaN
115973,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN

In [25]:
bios.query("born_country == 'USA' and born_city =='Seattle'")

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
11030,11088,David Halpern,1955-08-18,Seattle,Washington,USA,United States,178.0,79.0,NaN
12800,12870,Todd Trewin,1958-04-20,Seattle,Washington,USA,United States,180.0,75.0,NaN
15476,15583,Scott McKinley,1968-10-15,Seattle,Washington,USA,United States,183.0,75.0,NaN
29079,29293,Joyce Tanac,1950-09-27,Seattle,Washington,USA,United States,156.0,49.0,NaN
31135,31371,Bill Kuhlemeier,1908-01-14,Seattle,Washington,USA,United States,NaN,NaN,2001-07-08
...,...,...,...,...,...,...,...,...,...,...
133392,136331,Hans Struzyna,1989-03-31,Seattle,Washington,USA,United States,188.0,91.0,NaN
135448,138662,Maude Davis Crossland,2003-03-19,Seattle,Washington,USA,Colombia,NaN,NaN,NaN
136993,140229,Jenell Berhorst,2003-12-13,Seattle,Washington,USA,United States,NaN,NaN,NaN
143507,147159,Nevin Harrison,2002-06-02,Seattle,Washington,USA,United States,175.0,73.0,NaN
145446,149169,Corinne Stoddard,2001-08-15,Seattle,Washington,USA,United States,NaN,NaN,NaN

In [28]:
filtered_bios = bios[(bios["born_region"] == "New Hampshire") | (bios["born_city"] == "San Francisco")]

filtered_bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
6128,6155,Raúl García-Ordóñez,1924-09-15,Littleton,New Hampshire,USA,Cuba,188.0,NaN,2013-05-03
7290,7329,Jim Walsh,1930-08-29,San Francisco,California,USA,United States,193.0,86.0,1976-03-04
8619,8666,George Finnegan,1881-09-28,San Francisco,California,USA,United States,NaN,NaN,1913-02-28
8639,8686,Frank Haller,1883-01-06,San Francisco,California,USA,United States,NaN,NaN,1939-04-30
10981,11038,DeAnne Hemmens,1964-07-02,San Francisco,California,USA,United States,NaN,NaN,NaN

In [36]:
bios.columns

Index(['athlete_id', 'name', 'born_date', 'born_city', 'born_region',
       'born_country', 'NOC', 'height_cm', 'weight_kg', 'died_date'],
      dtype='object')

In [37]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

*Sütundaki verileri tekrar bir dataframe altında toplama*

In [43]:
import datetime as dt

bios["born_date"] = pd.to_datetime(bios["born_date"])
bios["month_born"] = bios["born_date"].dt.month
bios["year_born"] = bios["born_date"].dt.year

In [44]:
bios.groupby([bios['year_born'],bios['month_born']])['name'].count().reset_index().sort_values('name', ascending=False)

      year_born  month_born  name
1437     1970.0         1.0   239
1461     1972.0         1.0   229
1629     1986.0         1.0   227
1497     1975.0         1.0   227
1617     1985.0         1.0   225
...         ...         ...   ...
51       1852.0         5.0     1
52       1852.0         6.0     1
1882     2008.0         7.0     1
1883     2008.0         8.0     1
1884     2009.0         1.0     1

[1885 rows x 3 columns]

In [31]:
pip install pyjanitor --quiet

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [34]:
import janitor

coffee.clean_names()

          day coffee_type  units_sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [29]:
pip install skimpy --quiet

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
from skimpy import skim

skim(bios)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 145500 │ │ string      │ 7     │                                                          │
│ │ Number of columns │ 10     │ │ float64     │ 2     │                                                          │
│ └───────────────────┴────────┘ │ int64       │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━┳━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┓  │
│ ┃ column      ┃ NA     ┃ NA %               ┃ mean  ┃ sd    ┃ p0  ┃ p25   ┃ p50   ┃ p75    ┃ p100   ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━━╇━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━┩  │
│ │ athlete_id  │      0 │                  0 │ 73690 │ 42870 │   1 │ 36660 │ 73300 │ 110300 │ 149800 │ ▇▇▇▇▇▇ │  │
│ │ height_cm   │  38849 │ 26.700343642611685 │ 176.3 │ 10.38 │ 127 │   170 │   176 │    183 │    226 │  ▁▇▇▁  │  │
│ │ weight_kg   │  43430 │ 29.848797250859107 │ 71.89 │ 14.47 │  25 │    62 │    70 │     80 │    198 │  ▁▇▂   │  │
│ └─────────────┴────────┴────────────────────┴───────┴───────┴─────┴───────┴───────┴────────┴────────┴────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━┳━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━┓  │
│ ┃          ┃        ┃          ┃          ┃          ┃          ┃          ┃ chars    ┃ words    ┃ total     ┃  │
│ ┃ column   ┃ NA     ┃ NA %     ┃ shortest ┃ longest  ┃ min      ┃ max      ┃ per row  ┃ per row  ┃ words     ┃  │
│ ┡━━━━━━━━━━╇━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━━┩  │
│ │ name     │      0 │        0 │  SB      │ Georges, │  Abdul   │ Аlex     │       14 │      2.1 │    300351 │  │
│ │          │        │          │          │ Marquis  │ Rashid   │ Halcheni │          │          │           │  │
│ │          │        │          │          │ de       │          │ uk       │          │          │           │  │
│ │          │        │          │          │ Créqui-M │          │          │          │          │           │  │
│ │          │        │          │          │ ontfort  │          │          │          │          │           │  │
│ │          │        │          │          │ de       │          │          │          │          │           │  │
│ │          │        │          │          │ Courtivr │          │          │          │          │           │  │
│ │          │        │          │          │ on       │          │          │          │          │           │  │
│ │ born_dat │   1807 │ 1.241924 │ 1886-12- │ 1886-12- │ 1828-10- │ 2009-01- │       10 │     0.99 │    143693 │  │
│ │ e        │        │ 39862542 │ 12       │ 12       │ 25       │ 01       │          │          │           │  │
│ │          │        │       96 │          │          │          │          │          │          │           │  │
│ │ born_cit │  34592 │ 23.77457 │ Oi       │ near     │ 10 de    │ ʻEwa     │     9.04 │     0.96 │    139653 │  │
│ │ y        │        │ 04467353 │          │ Thành    │ October  │ Beach    │          │          │           │  │
│ │          │        │       96 │          │ phố Hồ   │          │          │          │          │           │  │
│ │          │        │          │          │ Chí Minh │          │          │          │          │           │  │
│ │          │        │          │          │ (Ho Chi  │          │          │          │          │           │  │
│ │          │        │          │          │ Minh     │          │          │          │          │           │  │
│ │          │        │          │          │ City)    │          │          │          │          │           │  │
│ │ born_reg │  34592 │ 23.77457 │ Ba       │ Respubli │ Aargau   │ Ștefan   │     9.67 │     0.97 │    141133 │  │
│ │ ion      │        │ 04467353 │          │ ka       │          │ Vodă     │          │          │           │  │
│ │          │        │       96 │          │ Severnay │          │          │          │          │           │  │
│ │          │        │          │          │ a        │          │          │          │          │           │  │
│ │          │        │          │          │ Osetiya- │          │          │          │          │           │  │
│ │          │        │          │          │ Alaniya  │          │          │          │          │           │  │
│ │ born_cou │  34592 │ 23.77457 │ FRA      │ Spreewal │ AFG      │ ZIM      │        3 │     0.76 │    110908 │  │
│ │ ntry     │        │ 04467353 │          │ d        │          │          │          │          │           │  │
│ │          │        │       96 │          │          │          │          │          │          │           │  │
│ │ NOC      │      1 │ 0.000687 │ ROC      │ Independ │ Afghanis │ Zimbabwe │     9.42 │      1.4 │    202554 │  │
│ │          │        │ 28522336 │          │ ent      │ tan      │          │          │          │           │  │
│ │          │        │    76976 │          │ Olympic  │          │          │          │          │           │  │
│ │          │        │          │          │ Athletes │          │          │          │          │           │  │
│ │          │        │          │          │ Serbia   │          │          │          │          │           │  │
│ │          │        │          │          │ and      │          │          │          │          │           │  │
│ │          │        │          │          │ Monteneg │          │          │          │          │           │  │
│ │          │        │          │          │ ro       │          │          │          │          │           │  │
│ │          │        │          │          │ United   │          │          │          │          │           │  │
│ │          │        │          │          │ States   │          │          │          │          │           │  │
│ │          │        │          │          │ Yugoslav │          │          │          │          │           │  │
│ │          │        │          │          │ ia       │          │          │          │          │           │  │
│ │ died_dat │ 111560 │ 76.67353 │ 1960-10- │ 1960-10- │ 1900-04- │ 2023-12- │       10 │     0.23 │     33940 │  │
│ │ e        │        │ 95189003 │ 02       │ 02       │ 23       │ 28       │          │          │           │  │
│ │          │        │        4 │          │          │          │          │          │          │           │  │
│ └──────────┴────────┴──────────┴──────────┴──────────┴──────────┴──────────┴──────────┴──────────┴───────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

*bios datasetindeki na değerlerini dolduralım veya satırlarını kaldıralım*

In [46]:
bios["weight_kg"].fillna(bios["weight_kg"].mean())

0         71.890996
1         76.000000
2         76.000000
3         64.000000
4         71.890996
            ...
145495    61.000000
145496    65.000000
145497    55.000000
145498    71.890996
145499    71.890996
Name: weight_kg, Length: 145500, dtype: float64

In [47]:
skim(bios)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 145500 │ │ string      │ 6     │                                                          │
│ │ Number of columns │ 12     │ │ float64     │ 4     │                                                          │
│ └───────────────────┴────────┘ │ int64       │ 1     │                                                          │
│                                │ datetime64  │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━┳━━━━━━━┳━━━━━━━━━━━━━━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┓  │
│ ┃ column      ┃ NA    ┃ NA %               ┃ mean  ┃ sd    ┃ p0   ┃ p25   ┃ p50   ┃ p75    ┃ p100   ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━━╇━━━━━━━╇━━━━━━━━━━━━━━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━┩  │
│ │ athlete_id  │     0 │                  0 │ 73690 │ 42870 │    1 │ 36660 │ 73300 │ 110300 │ 149800 │ ▇▇▇▇▇▇ │  │
│ │ height_cm   │ 38849 │ 26.700343642611685 │ 176.3 │ 10.38 │  127 │   170 │   176 │    183 │    226 │  ▁▇▇▁  │  │
│ │ weight_kg   │ 43430 │ 29.848797250859107 │ 71.89 │ 14.47 │   25 │    62 │    70 │     80 │    198 │  ▁▇▂   │  │
│ │ month_born  │  1807 │ 1.2419243986254296 │ 6.245 │ 3.493 │    1 │     3 │     6 │      9 │     12 │ ▇▇▇▇▇▆ │  │
│ │ year_born   │  1807 │ 1.2419243986254296 │  1957 │ 31.47 │ 1828 │  1939 │  1964 │   1982 │   2009 │  ▁▂▅▇▆ │  │
│ └─────────────┴───────┴────────────────────┴───────┴───────┴──────┴───────┴───────┴────────┴────────┴────────┘  │
│                                                    datetime                                                     │
│ ┏━━━━━━━━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓  │
│ ┃ column         ┃ NA      ┃ NA %                        ┃ first           ┃ last            ┃ frequency     ┃  │
│ ┡━━━━━━━━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩  │
│ │ born_date      │    1807 │          1.2419243986254296 │   1828-10-25    │   2009-01-01    │ None          │  │
│ └────────────────┴─────────┴─────────────────────────────┴─────────────────┴─────────────────┴───────────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━┳━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━┓  │
│ ┃          ┃        ┃          ┃          ┃          ┃          ┃          ┃ chars    ┃ words    ┃ total     ┃  │
│ ┃ column   ┃ NA     ┃ NA %     ┃ shortest ┃ longest  ┃ min      ┃ max      ┃ per row  ┃ per row  ┃ words     ┃  │
│ ┡━━━━━━━━━━╇━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━━┩  │
│ │ name     │      0 │        0 │  SB      │ Georges, │  Abdul   │ Аlex     │       14 │      2.1 │    300351 │  │
│ │          │        │          │          │ Marquis  │ Rashid   │ Halcheni │          │          │           │  │
│ │          │        │          │          │ de       │          │ uk       │          │          │           │  │
│ │          │        │          │          │ Créqui-M │          │          │          │          │           │  │
│ │          │        │          │          │ ontfort  │          │          │          │          │           │  │
│ │          │        │          │          │ de       │          │          │          │          │           │  │
│ │          │        │          │          │ Courtivr │          │          │          │          │           │  │
│ │          │        │          │          │ on       │          │          │          │          │           │  │
│ │ born_cit │  34592 │ 23.77457 │ Oi       │ near     │ 10 de    │ ʻEwa     │     9.04 │     0.96 │    139653 │  │
│ │ y        │        │ 04467353 │          │ Thành    │ October  │ Beach    │          │          │           │  │
│ │          │        │       96 │          │ phố Hồ   │          │          │          │          │           │  │
│ │          │        │          │          │ Chí Minh │          │          │          │          │           │  │
│ │          │        │          │          │ (Ho Chi  │          │          │          │          │           │  │
│ │          │        │          │          │ Minh     │          │          │          │          │           │  │
│ │          │        │          │          │ City)    │          │          │          │          │           │  │
│ │ born_reg │  34592 │ 23.77457 │ Ba       │ Respubli │ Aargau   │ Ștefan   │     9.67 │     0.97 │    141133 │  │
│ │ ion      │        │ 04467353 │          │ ka       │          │ Vodă     │          │          │           │  │
│ │          │        │       96 │          │ Severnay │          │          │          │          │           │  │
│ │          │        │          │          │ a        │          │          │          │          │           │  │
│ │          │        │          │          │ Osetiya- │          │          │          │          │           │  │
│ │          │        │          │          │ Alaniya  │          │          │          │          │           │  │
│ │ born_cou │  34592 │ 23.77457 │ FRA      │ Spreewal │ AFG      │ ZIM      │        3 │     0.76 │    110908 │  │
│ │ ntry     │        │ 04467353 │          │ d        │          │          │          │          │           │  │
│ │          │        │       96 │          │          │          │          │          │          │           │  │
│ │ NOC      │      1 │ 0.000687 │ ROC      │ Independ │ Afghanis │ Zimbabwe │     9.42 │      1.4 │    202554 │  │
│ │          │        │ 28522336 │          │ ent      │ tan      │          │          │          │           │  │
│ │          │        │    76976 │          │ Olympic  │          │          │          │          │           │  │
│ │          │        │          │          │ Athletes │          │          │          │          │           │  │
│ │          │        │          │          │ Serbia   │          │          │          │          │           │  │
│ │          │        │          │          │ and      │          │          │          │          │           │  │
│ │          │        │          │          │ Monteneg │          │          │          │          │           │  │
│ │          │        │          │          │ ro       │          │          │          │          │           │  │
│ │          │        │          │          │ United   │          │          │          │          │           │  │
│ │          │        │          │          │ States   │          │          │          │          │           │  │
│ │          │        │          │          │ Yugoslav │          │          │          │          │           │  │
│ │          │        │          │          │ ia       │          │          │          │          │           │  │
│ │ died_dat │ 111560 │ 76.67353 │ 1960-10- │ 1960-10- │ 1900-04- │ 2023-12- │       10 │     0.23 │     33940 │  │
│ │ e        │        │ 95189003 │ 02       │ 02       │ 23       │ 28       │          │          │           │  │
│ │          │        │        4 │          │          │          │          │          │          │           │  │
│ └──────────┴────────┴──────────┴──────────┴──────────┴──────────┴──────────┴──────────┴──────────┴───────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯